.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 250px;
    font-size: 16px;
}
.search-bar img{
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #ebfffc;
}
.weather_icon{
    width: 150px;
    margin: 10px 0;
}
.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 13px;
}
.col span{
    display: block;
    font-size: 10px;
}
.col img{
    width: 23px;
    margin-top: 10px;
}